

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



@media (min-width: 1600px) and (max-width: 10600px) {
    
    
    /* Section hides */
    #nav_mobile
    {
        display: none;
    }

    #bioexcerpt_480
    {
        display: none;
    }

    #quotewidget_480
    {
        display: none;
    }

    #about_480
    {
        display: none;
    }

    #feature_480
    {
        display: none;
    }

    /* End Section Hides */


    body
    {
        background-color: #c0c0c0;
        background-image:url('../img/1600/background.png'); 
        background-repeat:repeat;
    }

    #header
    {
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        color: #FFFFFF;
        cursor: default;
        padding: 2.5em 0 2em;
        width: 100%;   
        text-align: center;
        background-color:#f0f0f0;
        height: 429px;

    }

        .header_shadow
        {


        }

        .header_shadow_center
        {
            height: 46px;
            width: 34%;
            float:left;
            background-image: url('../img/1600/shadow_center.png');
            background-repeat: repeat-x;
            
        }


        .header_shadow_left
        {
            /*background-image: url('../img/1600/shadow_left.png');*/
            background-image: url('../img/1600/shadow_center.png');
            background-repeat: repeat-x;
            background-origin:content-box;
            width: 33%;
            float:left;
            height: 46px;
        }


        .header_shadow_right
        {
            /*background-image: url('../img/1600/shadow_right.png');*/
            background-image: url('../img/1600/shadow_center.png');
            background-origin:content-box;
            background-repeat: repeat-x;
            width: 33%;
            float:left;            
            height: 46px;
        }
        
    
   



    #bigTitle
    {   
        color: #660066;
        text-align: center;
        font-size: 52pt;
        font-family: registersans;
        text-transform: uppercase;  
        margin-top:69px;
    
    }

    #nav{
        
        font-size: 22pt;
        display: block;
        margin-left: -76px;
    }
   

    #nav ul
    {

    }

    #nav ul li a
    {   
        color: #666666;
        font-family: registersans;
        font-size: 22pt;
    }

    #nav ul li:hover
    {   
       text-align: center;
    }

    #nav a
    {
        text-decoration: none;   
    }

    #nav a:hover
    {
        color: #666666;

    }

    #nav li 
    {
        display: inline;
        list-style: none;
        padding-left: 45px;
    }

    #nav li ul 
    {
        display: none; 
        background: url('../img/1600/menu/submenu.png');
        background-repeat: no-repeat;
        padding-top: 10px;
        width: 1334px;
        height: 66px;

    }

    #nav li:hover ul
    {
        display: block;
        position: absolute; 
    }

    #nav li ul li
    {
        padding-left: 0;
        padding-right: 20px;
        font-size: 10pt;
        float: none;
        list-style: none; 
        width: auto; 
        text-transform: uppercase;

    }

    #nav li ul li a
    {
        font-size: 12pt;
    }

    .header_submenu{
        margin-top: 20px;
    }
    .logos 
    {
        width: 300px;
        padding-top:20px;
    }

    .logo_row
    {
        margin-top: 20px;
        width: 100%;
        height: 46px;
    }

    .logo_left
    {
        float: left;
        width: 50%;
    }

    .logo_right
    {
        float: left;
        width: 50%;
    }

    /* Content */

    #content
    {
        background-image: url('../img/1600/bioback.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;
        width: 913px;
        height: 800px;
        background-color: #999999;
        margin: 0 auto;
        margin-top: 30px;
    }


    #slideshow
    {
        width: 1426px;
        height: 512px;
        margin: 40px auto;
    }

    #slideshow_left
    {
        float: left;
        margin-top: 172px;
        width: 71px;
        height: 69px;
        background-image: url('../img/1600/home/arrowl.png');
        margin-left: -61px;


    }

    #slideimage 
    {
        margin: 0 auto;
        width: 1397px !important;
        float: left;
        margin-top: 12px;
        height: 512px;
        overflow: hidden;



    }


    #slideshow_right
    {
        float: right;
        margin-top: 172px;
        width: 70px;
        height: 69px;
        background-image: url('../img/1600/home/arrowr.png');
        margin-right: -61px;


    }

    #slideshowImgStyle{
        width: 1426px;
        height: 512px;
        margin: 40px auto;
    }

    ul#slideshowImgStyle,
    ul#slideshowImgStyle li {
        /* Setting a common base */
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }

    ul#slideshowImgStyle li {
        display: inline-block;
        width: 312px !important;
        min-height: 441px !important;
        height: 441px !important;
    }


    #slideshowImgStyle_1600{
        width: 1426px;
        height: 512px;
        margin: 40px auto;
    }

    ul#slideshowImgStyle_1600,
    ul#slideshowImgStyle_1600 li {
        /* Setting a common base */
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }

    ul#slideshowImgStyle_1600 li {
        display: inline-block;
        width: 312px !important;
        min-height: 441px !important;
        height: 441px !important;
    }


    #slideshowImgStyle_1024{
        display: none;
    }

    #slideshowImgStyle_768{
        display: none;
    }

    #slideshowImgStyle_480{
        display: none;
    }

    #slideshow_left>img{
        width: 40px;
        height: 40px;
    }

    #slideshow_right>img{
        width: 40px;
        height: 40px;
    }

#carruselImg1
{
    width: 312px !important;
    height: 441px !important;
    background-image: url('../img/1600/home/image1.png');

}

#carruselImg2
{
    width: 312px !important;
    height: 441px !important;
    background-image: url('../img/1600/home/image2.png');

}

#carruselImg3 
{
    width: 312px !important;
    height: 441px !important;
    background-image: url('../img/1600/home/image3.png');

}
#carruselImg4 
{
    width: 312px !important;
    height: 441px !important;
    background-image: url('../img/1600/home/image4.png');

}
 

    /* Bioexcerpt */
    #bioexcerpt
    {
        width: 1428px;
        height: 422px;
        background-color: #919191;
        margin: 0 auto;
        margin-top: 26px;
        font-family: brixslab-light;

        background-image: url('../img/1600/home/background2.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;

    }


    #bioexcerpt_img 
    {
        float: left;
        width: 185px;
        height: 249px;
        margin-top: 58px;
        margin-left: 63px;
        background-image: url('../img/1600/home/biophoto.png');

    }

    #bioexcerpt_img > img
    {
        height:164px;
        width:122px; 
        margin-left: 49px; margin-top: 49px;   
    }

    #biotextauthor
    {
        margin-top: 51px;
        margin-left: 13px;
        float: left;
        width: 290px;
    }

    .biotextauthor_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 24pt;
        font-family: brixslab-light;

    }

    .biotextauthor_info
    {
        color: black;
        font-size: 14pt;
        width: 469px;
    }

    .biotextauthor_readmore
    {
        color: #660066; 
    }



    #biopost
    {
        margin-right: 170px; 
        height: 181px; 
        width: 290px; 
        margin-top: 47px; 
        margin-left: 14px;
        float: right;
    }

    .biopost_title 
    {
        color : #520152;
        font-size: 18pt;
    }

    .biopost_text a
    {
        color : #520152;
        font-size: 14pt;
        line-height: 30pt;

    }


    #trade 
    {
        float: left;
    }

    #quote
    {

        float: left;
    }


    

    #biotext
    {
        width: 600px;
        float: left;
        clear: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        font-family: brixslab-regular;
        padding-left: 52px;
        text-align: justify;
    }

    #biotext > span 
    {
        color: white;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 14pt;

    }

    #photo img
    {
        
        margin-top: 48px;
        width: 234px;
    }


    #awards 
    {
        margin-top: 46px;
        padding-left: 632px; 
        padding-right: 30px;
        
    }

    #awards > span
    {
        color: white;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-family: brixslab-regular;
        font-size: 14pt;

    }
    
    #awards > p
    {
        font-family: brixslab-regular;
        font-size: 10.15pt;
        line-height:12pt;
    }

    .awards-caps {
        text-transform:uppercase;
    }


    #quotewidget
    {

        background-image: url('../img/1600/home/background3.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;
        font-family:  brixslab-regular;
        width: 1428px;
        height: 232px;
        background-color:#202020;
        margin: 0 auto;
        margin-top: 40px;
    }

    #author_quote
    {

        float: left;
        width: 170px;
        margin-left: 164px; 
        margin-top: 98px;
    }

    #autorsName{
        color : #999999;
        font-family: brixslab-regular;
        font-size: 22px;
        line-height: 1.428571429;

    }
    #subtitleName{
        color:#cc99ff;
        font-family: brixslab-regular;
        font-size: 22px;
        line-height: 1.428571429;
        margin-top: -22px;
    }

    #quote
    {
        margin-top: 73px;
        margin-left: 118px;
        font-size: 22pt;
        font-family:  brixslab-light;
        width: 800px;

    }

    /* Documentary */

    #documentary
    {
        width: 913px;
        height: 478px;
        background: #979797;        
        margin: 26px auto 0 auto;

        background-image: url('../img/1600/documentaryfeatures.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #documentary_container
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-regular;
    }

    #documentary_container hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .documentary_title
    {
        font-size: 16pt;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        text-align: center;
        word-spacing: .2em;

    }

    .documentary_quote
    {
        font-size: 13pt;
        color: white;
        font-weight: lighter;
    }

    .documentary_text
    {
        font-size: 10pt;
        text-align: justify;
        color: black;

    }


    #documentary_paginator > ul
    {   
        
        text-align: center;
    }   

    #documentary_paginator > ul > li
    {

        display: inline-block;
        list-style-type:none;

    }




    .paginator
    {
        font-family: registersans;
        font-size: 8pt;
        font-weight: bold;
        display: block;
        color: black;

    }


    .paginator:hover
    {
        font-family: registersans;
        font-weight: bold;
        display: block;
        width: 15px;
        height: 14px;
        background: #3e3e3e;
        font-family: registersans;
        font-size: 8pt;
        color: white;
        text-align: center;

    }
    
    #documentary_paginator > div:hover
    {
        display: inline;
        list-style: none;
        width: 15px;
        height: 14px;
        background: black;
        color: white;
    }

    

    /*End Documentary */


    /* Books */

    #books
    {
        width: 980px;
        height: auto;
        margin: 26px auto 29px auto;
        padding-bottom: 29px;
        padding-top: 29px;
    }

    #books_title > span

    {
        font-family: registersans;
        font-size: 22pt;
        background: url('../img/1600/books.png');
        background-repeat: no-repeat;
        background-position: center;
        padding-top:7px;
        padding-bottom: 10px;
        width: 143;
        height: 45;
        color: white;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    



    #books_container
    {
        text-align: center;   
    }

    #books_container  li 
    {
        display: inline-block;

    }

    #books_container  ul
    {
        margin-bottom: 30px;
        padding-left: 0px;
    }


    .movie {
        position: relative;
        display: inline-block;
    }

    .span_hover {
        color: white;
        bottom: 7px;
        display: none;
        height: 97%;
        left: 5px;
        position: absolute;
        font-family: brixslab-regular;
        font-size: 12pt;
        padding-top: 70px;
        right: -9px;
        width: 97%;
        background-color: rgba(0,0,0,0.6);
        
    }

    .movie:hover img {
        opacity:0.8;
        
    }

    .movie:hover .span_hover {
        display: block;
    }

    /* ENd Books */

    

    /* Misc */

    #misc
    {
        background: url('../img/1600/misc/background.png');
        background-repeat: no-repeat;
        width: 915px;
        height: 612px;
        margin: 0 auto;
    }

    .misc_documentaries
    {
        font-family: brixslab-regular;
        float: left;
        width: 65%;
        padding-left: 37px;
        padding-top: 40px;
    }

    .misc_documentaries > span
    {
        color: #fff;
        font-size: 18pt;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);

    }

    .misc_documentaries p
    {
        line-height:12pt;
        color: #000;
    }


    .misc_documentaries_right_top
    {
        font-family: brixslab-regular;
        float: right;
        width: 35%;
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 30px;
    }

    .misc_documentaries_right_top > span
    {
        color: #fff;
        font-size: 14pt;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    }

    .misc_documentaries_right_top p
    {
        line-height:12pt;
        color: #000;
    }


    .misc_documentaries_right_bottom
    {
        font-family: brixslab-regular;
        float: right;
        width: 35%;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 30px;
    }

    .misc_documentaries_right_bottom > span
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 14pt;
    }
    
    .misc_documentaries_right_bottom_span
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75) !important;
        color: white !important;
        font-size: 14pt !important;
    }

    .misc_documentaries_right_bottom p
    {
        line-height:12pt;
        color: #000;
    }



    /* End Misc */


    /* Behind */

    #behind 
    {
        background: url('../img/1600/behind/background.png');
        background-repeat: no-repeat;
        width: 915px;
        height: 541px; 
        margin: 0 auto;
        margin-top: 30px;
    }

    #behind hr
    {
        border-top: 1px solid #3e3e3e;
        width: 80%;
        padding-left: 30px;
        padding-right: 40px;

    }


    .behindthescenes 
    {
         font-family: brixslab-regular;
         padding-top: 30px;
    }


    .behindthescenes_title 
    {
        font-size: 21pt;
        color: white;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);

    }

    .behindthescenes_text
    {
        text-align: justify;
        font-weight: bold;
        font-size: 10pt;
        padding-left: 150px;
        padding-right: 150px;



    }

    .behind_text
    {
        width: 100%;
        text-align: left;
        font-weight: bold;
        font-family: brixslab-regular;
    }

    .behind_text_left
    {
        float: left;
        width: 50%;
        padding-left: 200px;
        
    }


    .behind_text_right
    {
        width: 50;
        padding-left: 100px;
        float: left;

    }

    .behind_year
    {
        text-align: center; 
        color:white;
        font-family: brixslab-regular;
        font-size: 16pt;

    }

    /* End Behind */



    
    

   /* Feature */
    #feature
    {
        width: 1355px;;
        height: 660px;
        margin: 0 auto;
        margin-bottom: 39px;
    }

    .feature_images
    {
        float: left;

    }
    
    #feature_image1
    {
    width: 354px !important;
    height: 512px !important;
    background-image: url('../img/1600/Press/image2.png');

    }
        

    #feature_image2
    {
    width: 400px !important;
    height: 512px !important;
    background-image: url('../img/1600/Press/image1.png');
    margin: 0px 0px 0px 13px;   
    }

    .featured_list
    {
        float: left;
    }

    .featured_list > ul
     {
        padding-left: 0px;
     }

    .featured_list>ul> li
    {
        display: inline-block;
    }

    .feature_images_title
    {

        background: url('../img/1600/Press/Title.png') ;  
        background-repeat: no-repeat;
        text-align: center;
        font-family: registersans;
        font-weight: bold;
        font-size: 21pt;
        text-transform: uppercase;
        width: 515px;
        height: 55px;
        padding-top: 4px;
        color: white; 
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #feature_content{
        width: 324px;
        margin-left: 34px;
    }

    .featured_press
    {
        background: url('../img/1600/Press/Untitled-1.png') #f0f0f0 ;
        background-repeat: no-repeat;
        float: right;
        width: 523px;
        height: 890px;
        font-family: brixslab-light;
        color: #f0f0f0;
        padding-top: 39px; 
        padding-left: 39px; 
        padding-right: 23px;
        font-size: 27px;
    }

    .featured_press_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 25pt;

    }

    .featured_press_highlight
    {
        color: #520152;
        font-size: 15pt;
        font-weight: bold;
    }


    /*End Feature */


    /* Footer */

    #footer
    {
        bottom: 0;
       margin-top: 100px; 
       clear: both;
       background: #F0F0F0;
       height: 37px;
       width: 100%;
       font-family: registersans;
        position: fixed;

        
    }

    #trade
    {
        text-align: left;
        color: #7a716f;
        padding-top: 10px; 
        padding-left: 21px;
    }

    #footermessage
    {
        float: right;
        padding-top: 10px; 
        text-align: right;
        margin-right: 10px;
        color: #7a716f;
    }



/* ABOUT */
    #aboutContent
    {
        width: 1428px;
        height: 1108px;
        background-color: #919191;
        margin: 0 auto;
        margin-top: 38px;
        font-family: brixslab-light;

        background-image: url('../img/1600/about/background.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;

    }

     #about_img 
    {
        float: left;
        width: 381px;
        height: 516px;
        margin-top: 37px;
        margin-left: 33px;
        background-image: url('../img/1600/about/image1.png');

    }

    #aboutAuthor
    {
        margin-top: 41px;
        margin-left: 61px;
        float: left;
        width: 888px;
    }

    .about_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 24pt;
        font-family: brixslab-light;

    }

    .about_info
    {
        color: black;
        font-size: 13pt;
        width: 778px;
        margin-top: 25px;

    }

    .about_titleAwards
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 24pt;
        font-family: brixslab-light;

    }
    #aboutAwards
    {
        margin-top: -227px;
        margin-left: 974px;
        float: left;
        width: 416px;
    }

   .about_infoAwards
    {
        color: black;
        font-size: 14pt;
        width: 416px;
        margin-top: 25px;
        line-height: 0.99;
    }

    #aboutAuthorSmall
    {
        display: none;
    }

    .about_infoSmallRight
    {
        display: none;

    }

    .about_infoSmallDown
    {
        display: none;

    }


/* end ABOUT */


/* Pagina Documentaries  */

    #documentaries
    {
        width: 1331px;
        height: 680px;
        background: #979797;        
        margin: 37px auto 0 auto;

        background-image: url('../img/1600/post/background.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #documentaries_content
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-regular;
    }

    #documentaries_content hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .documentaries_title
    {
       
     
        text-align: center;
        word-spacing: .2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 31pt;
        font-family: brixslab-light;
        

    }

    .documentaries_quote
    {
        font-size: 21pt;
        color: white;
        font-weight: lighter;
        padding:11px;
        
        
    }
    
    .text_small
    {
         font-size: 18pt;
         color: white;
         font-weight: lighter;
        
    }
    
    #line
    {
        width: 1238px !important;
        height: 2px !important;
        margin: -2px 1px 0px -79px;
        background-image: url('../img/1600/post/line.png');
    }
    


    .documentaries_text
    {
        font-size: 17pt;
        text-align: justify;
        color: black;
        
        

    }


    #documentaries_paginator > ul
    {   
        
        text-align: center;
    }   

    #documentaries_paginator > ul > li
    {

        display: inline-block;
        list-style-type:none;

    }

    #documentaries_paginator a
    {   
        color: #666666;
        font-size: 12pt;
        text-decoration: none;
        font-weight: bold;

    }

    #documentaries_paginator a:hover
    {
        font-family: brixslab-media;
        display: block;
        width: 22px;
        height: 22px;
        background: #3e3e3e;
        font-size: 12pt;
        color: white;
        text-align: center;

    }


    .paginator
    {
        font-family: registersans;
        font-size: 12pt;
        font-weight: bold;
        display: block;
        color: #4A4A4A;
        
        
    

    }
    
    .paginator_active
    {   
        font-family: registersans;
        font-size: 12pt;
        font-weight: bold;
        display: block;
        color: white;
        width: 22px;
        height: 22px;
        background-image: url('../img/1600/post/selection.png');
    }


    .paginator:hover
    {
        font-family: registersans;
        font-weight: bold;
        display: block;
        width: 22px;
        height: 22px;
        background: #3e3e3e;
        font-family: registersans;
        font-size: 12pt;
        color: white;
        text-align: center;

    }
    
    #documentaries_paginator > div:hover
    {
        display: inline;
        list-style: none;
        width: 15px;
        height: 14px;
        background: black;
        color: white;
    }

    .hr
    {
        background-image: url('../img/1600/post/line.png'); 
    }   

    /*End Pag Documentaries */


    /*Inicio night at the movies */

    #nightAthTheMovies
    {
        width: 1428px;
        height: 871px;
        background: #979797;        
        margin: 37px auto 0 auto;

        background-image: url('../img/1600/night/background.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #nightAthTheMovies_content
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-light;
    }

    #nightAthTheMovies_content hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .nightAthTheMovies_title
    {
       
     
        text-align: center;
        word-spacing: .2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 31pt;
        font-family: brixslab-light;
        

    }

    #authorQuote{
        font-size: 17pt;
    }

    .nightAthTheMovies_quote
    {
        font-size: 23pt;
        color: white;
        font-weight: lighter;
        padding:11px;
        width: 1121px;
        margin-left: -2px;
        
        
    }
    
    .nightAthTheMovies_text_small
    {
         font-size: 18pt;
         color: white;
         font-weight: lighter;
        
    }
    
    #nightAthTheMovies_line
    {
        width: 1238px !important;
        height: 2px !important;
        margin: -2px 1px 0px -79px;
        background-image: url('../img/1600/night/line.png');
    }
    


    .nightAthTheMovies_text
    {
        font-size: 17pt;
        text-align: justify;
        color: black;
        
        

    }


    #nightAthTheMovies_paginator > ul
    {   
        
        text-align: center;
    }   

    #nightAthTheMovies_paginator > ul > li
    {

        display: inline-block;
        list-style-type:none;

    }


    #nightAthTheMovies_paginator a
    {   
        color: #666666;
        font-size: 12pt;
        text-decoration: none;
        font-weight: bold;

    }

    #nightAthTheMovies_paginator a:hover
    {
        font-family: brixslab-media;
        display: block;
        width: 22px;
        height: 22px;
        background: #3e3e3e;
        font-size: 12pt;
        color: white;
        text-align: center;

    }



    .nightAthTheMovies_paginator
    {
        font-family: brixslab-media;
        font-size: 12pt;
        font-weight: bold;
        display: block;
        color: #4A4A4A;
        
        
    

    }
    
    .nightAthTheMovies_paginator_active
    {   
        font-family: brixslab-media;
        font-size: 12pt;
        font-weight: bold;
        display: block;
        color: white;
        width: 22px;
        height: 22px;
        background-image: url('../img/1600/night/selection.png');
    }


    .nightAthTheMovies_paginator:hover
    {
        font-family: brixslab-media;
        font-weight: bold;
        display: block;
        width: 22px;
        height: 22px;
        background: #3e3e3e;
        font-size: 12pt;
        color: white;
        text-align: center;

    }
    
    #nightAthTheMovies_paginator > div:hover
    {
        display: inline;
        list-style: none;
        width: 15px;
        height: 14px;
        background: black;
        color: white;
    }

    .nightAthTheMovies_hr
    {
        background-image: url('../img/1600/night/line.png'); 
    }   

  #nightAthTheMovies_image1
    {
    width: 355px !important;
    height: 454px !important;
    background-image: url('../img/1600/night/image2.png');

    }
        

    #nightAthTheMovies_image2
    {
    width: 355px !important;
    height: 454px !important;
    background-image: url('../img/1600/night/image1.png');
    margin: 0px 0px 0px 13px;   
    }

 #nightAthTheMovies_image3
    {
    width: 355px !important;
    height: 454px !important;
    background-image: url('../img/1600/night/image3.png');
    margin: 0px 0px 0px 13px;   
    }

    .nightAthTheMovies_list
    {

        position: relative;
        left: 50%;
        height: 600px;
        margin-top: 50px;
        width: 1427px;
        margin-left: -600px;
    }

    .nightAthTheMovies_list > ul
     {
        padding-left: 0px;
        width: 1427px;

     }

    .nightAthTheMovies_list>ul> li
    {
        display: inline-block;
    }



    /*End Pag night at the movies */

/*Inicio behind */

    #behindTheScenes
    {
        width: 1428px;
        height: 871px;
        background: #979797;        
        margin: 37px auto 0 auto;

        background-image: url('../img/1600/night/background.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #behindTheScenes_content
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-light;
    }

    #behindTheScenes_content hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .behindTheScenes_title
    {
       
     
        text-align: center;
        word-spacing: .2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 31pt;
        font-family: brixslab-light;
        

    }

    #behindTheScenes_authorQuote{
        font-size: 17pt;
    }

    .behindTheScenes_quote
    {
        font-size: 23pt;
        color: white;
        font-weight: lighter;
        padding:11px;
        width: 1121px;
        text-align: center;        
        
    }
    
    .behindTheScenes_text_small
    {
         font-size: 18pt;
         color: white;
         font-weight: lighter;
        
    }
    
    #behindTheScenes_line
    {
        width: 1238px !important;
        height: 2px !important;
        margin: -2px 1px 0px -79px;
        background-image: url('../img/1600/night/line.png');
    }
    


    .behindTheScenes_text
    {
        font-size: 17pt;
        text-align: justify;
        color: black;
        
        

    }

#behindTheScenes_leftList{
    width: 350px;
    float: left;
    margin-left: 170px;

}
#behindTheScenes_rightList{
    width: 350px;
    float: left;
    margin-left: 212px;

    
}

#behindTheScenes_slideshow
    {
        width: 1426px;
        height: 512px;
        margin: 40px auto;
    }

    #behindTheScenes_slideshow_left
    {
        float: left;
        margin-top: 172px;
        width: 71px;
        height: 69px;
        background-image: url('../img/1600/home/arrowl.png');
        margin-left: -61px;


    }

    #behindTheScenes_slideimage 
    {
        margin: 0 auto;
        width: 1034px !important;
        float: left;
        margin-top: 12px;
        height: 512px;
        overflow: hidden;
        margin-left: 162px;



    }


    #behindTheScenes_slideshow_right
    {
        float: right;
        margin-top: 172px;
        width: 70px;
        height: 69px;
        background-image: url('../img/1600/home/arrowr.png');
        margin-right: -61px;


    }

    #behindTheScenes_slideshowImgStyle{
        width: 1426px;
        height: 512px;
        margin: 40px auto;
    }

    ul#behindTheScenes_slideshowImgStyle,
    ul#behindTheScenes_slideshowImgStyle li {
        /* Setting a common base */
        margin: 0;
        padding: 0;
        margin-left: 20px;
        width: 2426px;
        height: 512px;
    }

    ul#behindTheScenes_slideshowImgStyle li {
        display: inline-block;
        width: 1000px !important;
        min-height: 441px !important;
        height: 441px !important;
    }


    #behindTheScenes_slideshow_left>img{
        width: 40px;
        height: 40px;
    }

    #behindTheScenes_slideshow_right>img{
        width: 40px;
        height: 40px;
    }

/*carrusel*/
#behindTheScenes_carruselImg1
{
    width: 1000px !important;
    height: 451px !important;
    background-image: url('../img/1600/behind/image1.png');
    background-repeat: no-repeat;


}

#behindTheScenes_carruselImg2
{
    width: 1000px !important;
    height: 451px !important;
    background-image: url('../img/1600/behind/image2.png');
    background-repeat: no-repeat;

}

#behindTheScenes_leftList_480{
    display: none;
}
   

/*inicia books*/
     #books
    {
       width:1426px;
       margin-top: 30px !important;
       height: auto;
       margin-top: 0px; 
       margin-bottom: -140px !important;

    }
    
    .books_480_container
    {
        display: none;
    }

    .books_768_container
    {
        display: none;
    }


    .books_1024_container
    {
        display: none;
    }

    .books_1600_container
    {
        margin-top: 0px;
        width: 100%;
    }

    .books_1600_container>ul
    {
        padding-left: 0px;
        text-align: center;
    }

    .books_1600_container>ul>li
    {
        display: inline-block;
        list-style: none;
    }    

    .title_books > span
    {
        background: url("../img/1600/books/title.png") no-repeat scroll center center rgba(0, 0, 0, 0);
        color: #FFFFFF;
        display: block;
        font-size: 15pt;
        font-family: registersans;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: center; 
        height: 55px;

    }

    .movie 
    {
        position: relative;
        display: inline-block;
    }

    .span_hover 
    {
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 7px;
        color: #FFFFFF;
        display: none;
        font-family: brixslab-light;
        font-size: 12pt;
        height: 99%;
        left: 2px;
        position: absolute;
        right: -9px;
        top: 1px;
        width: 97%;
        text-align: center;
        padding-top: 13px;
    }

    .movie:hover img {
        opacity:0.8;
        
    }

    .movie:hover .span_hover {
        display: block;
        font-family: brixslab-light;
    }
/* documentaries other and compact */
    #documentariesOtherCompact_content
    {
        width: 1428px;
        height: 1108px;
        background-color: #919191;
        margin: 0 auto;
        margin-top: 38px;
        font-family: brixslab-light;

        background-image: url('../img/1600/about/background.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;

    }


    #documentariesOtherCompact_documentaries
    {
        margin-top: 41px;
        margin-left: 61px;
        float: left;
        width: 888px;
    }

    .documentariesOtherCompact_documentaries_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 24pt;
        font-family: brixslab-light;

    }

    .documentariesOtherCompact_documentaries_info
    {
        color: black;
        font-size: 13pt;
        width: 778px;
        margin-top: 25px;

    }

    .documentariesOtherCompact_other_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 24pt;
        font-family: brixslab-light;

    }
    #documentariesOtherCompact_other
    {
        margin-top: -59px;
        margin-left: 974px;
        float: left;
        width: 416px;
    }

   .documentariesOtherCompact_other
    {
        color: black;
        font-size: 14pt;
        width: 416px;
        margin-top: 25px;
        line-height: 0.99;
    }

 .documentariesOtherCompact_compact_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 24pt;
        font-family: brixslab-light;

    }
    #documentariesOtherCompact_compact
    {
        margin-top: -626px;
        margin-left: 974px;
        float: left;
        width: 416px;
    }

   .documentariesOtherCompact_compact
    {
        color: black;
        font-size: 14pt;
        width: 416px;
        margin-top: 25px;
        line-height: 0.99;
    }



 .documentariesOtherCompact_imgs_content
    {
        float: left;

    }

        .documentariesOtherCompact_imgs_content > ul
     {
        padding-left: 0px;
     }

    .documentariesOtherCompact_imgs_content>ul> li
    {
        display: inline-block;
    }
    
    #documentariesOtherCompact_img1
    {
    width: 208px !important;
    height: 72px !important;
    background-image: url('../img/1600/misc/logo1.png');

    }
        

    #documentariesOtherCompact_img2
    {
   width: 208px !important;
    height: 72px !important;
    background-image: url('../img/1600/misc/logo2.png');
    margin: 0px 0px 0px 13px;   
    }

    #documentariesOtherCompact_img3
    {
    width: 208px !important;
    height: 72px !important;
    background-image: url('../img/1600/misc/logo3.png');

    }
        

    #documentariesOtherCompact_img4
    {
    width: 208px !important;
    height: 72px !important;
    background-image: url('../img/1600/misc/logo4.png');
    margin: 0px 0px 0px 13px;   
    }



/* end documentaries other and compact */


 /*Contact*/


    #contact
    {
        width: 100%;
        margin-top: 50px;
    }


    .contact
    {
        background:  #EFEFEF;
        width: 1426px;
        height: 258px;
        margin: 0 auto;
        margin-top: 30px;
        padding-top: 20px;
        text-align: left;
    }

    .contact>ul
    {
        height: 216px;
        padding-left: 0px;
        margin-left:128px;
    }

    .contact>ul>li
    {
        list-style: none;
        display: inline-block;
        height: 146px;

    }

    .contact_1600_margin_1
    {
        border-left: 1px solid;
        padding-left: 10px !important;
    }


    .contact_1600_margin_2
    {
        border-left: 1px solid;
        padding-left: 10px ;
        margin-left: 70px;

    }

    .contact_1600_margin_3
    {
        
        padding-left: 10px !important;
    }



    .contact_border
    {
        
    }

    .contact_title
    {
        font-family: registersans;
        text-transform: uppercase;
        color:  #999999;
        font-size: 20pt;
    }

    .contact_person
    {
        font-family: brixslab-light;
        color: #660066;
        font-size: 16pt;
    }

    .contact_back
    {
        font-family: brixslab-light;
        font-size: 16pt;
    }


    /*End Contact */
}
/* end 1600 */

