

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face
{
    font-family: registersans;
    src: url('../fonts/register-sans-btn-lt.ttf');
} 

@font-face
{
    font-family: brixslab-boldItalica ;
    src: url('../fonts/BrixSlab-BoldItalic.ttf');
}

@font-face
{
    font-family: brixslab-regularItalica ;
    src: url('../fonts/BrixSlab-RegularItalic.ttf');
}
@font-face
{
    font-family: brixslab-extraLightItalica ;
    src: url('../fonts/BrixSlab-ExtraLightItalic.ttf');
}

@font-face
{
    font-family: brixslab-light ;
    src: url('../fonts/BrixSlab-Light.ttf');
}

@font-face
{
    font-family: brixslab-media ;
    src: url('../fonts/BrixSlab-Medium.ttf');
}

@font-face
{
    font-family: brixslab-regular ;
    src: url('../fonts/BrixSlab-Regular.ttf');
}



@media (min-width: 1024px) and (max-width: 1599px) {
    
    
    /* Section hides */
    #nav_mobile
    {
        display: none;
    }

    #bioexcerpt_480
    {
        display: none;
    }

    #quotewidget_480
    {
        display: none;
    }

    #about_480
    {
        display: none;
    }

    #feature_480
    {
        display: none;
    }

    /* End Section Hides */


    body
    {
        background-color: #c0c0c0;
        background-image:url('../img/1024/background.png'); 
        background-repeat:repeat;
    }

    #header
    {
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        color: #FFFFFF;
        cursor: default;
        padding: 2.5em 0 2em;
        width: 100%;   
        text-align: center;
        background-color:#f0f0f0;
        height: 273px;

    }

        .header_shadow
        {
         
        }

        .header_shadow_center
        {
            height: 31px;
            min-width: 34%;
            float:left;
            background-image: url('../img/1024/shadow_center.png');
            background-repeat: repeat-x;
            
        }


        .header_shadow_left
        {
            /*background-image: url('../img/1024/shadow_left.png');*/
            background-image: url('../img/1024/shadow_center.png');
            background-repeat: repeat-x;
            background-origin:content-box;
            width: 33%;
            float:left;
            height: 31px;
        }


        .header_shadow_right
        {
            /*background-image: url('../img/1024/shadow_right.png');*/
            background-image: url('../img/1024/shadow_center.png');
            background-origin:content-box;
            background-repeat: repeat-x;
            width: 33%;
            float:left;            
            height: 31px;
        }
        
    
   



    #bigTitle
    {   
        color: #660066;
        text-align: center;
        font-size: 37pt;
        font-family: registersans;
        text-transform: uppercase;  
        margin-top:40px;

    
    }

    #nav{
        
        font-size: 15pt;
        display: block;
        margin-left: -76px;
    }
   

    #nav ul
    {

    }

    #nav ul li a
    {   
        color: #666666;
        font-family: registersans;
        font-size: 15pt;
    }

    #nav ul li:hover
    {   
       text-align: center;
    }

    #nav a
    {
        text-decoration: none;   
    }

    #nav a:hover
    {
        color: #666666;

    }

    #nav li 
    {
        display: inline;
        list-style: none;
        padding-left: 45px;
    }

    #nav li ul 
    {
        display: none; 
        background: url('../img/1024/sub_menu.png');
        background-repeat: no-repeat;
        padding-top: 10px;
        width: 856px;
        height: 50px;

    }

    #nav li:hover ul
    {
        display: block;
        position: absolute; 
    }

    #nav li ul li
    {
        padding-left: 0;
        padding-right: 20px;
        font-size: 10pt;
        float: none;
        list-style: none; 
        width: auto; 
        text-transform: uppercase;

    }

    #nav li ul li a
    {
        font-size: 12pt;
    }


    .logos 
    {
        width: 300px;
        padding-top:20px;
    }

    .logo_row
    {
        margin-top: 20px;
        width: 100%;
        height: 46px;
    }

    .logo_left
    {
        float: left;
        width: 50%;
    }

    .logo_right
    {
        float: left;
        width: 50%;
    }

    /* Content */

    #content
    {
        background-image: url('../img/1024/bioback.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;
        width: 913px;
        height: 800px;
        background-color: #999999;
        margin: 0 auto;
        margin-top: 30px;
    }


#slideshow
    {
        width: 913px;
        height: 327px;
        margin: 27px auto;
    }

    #slideshow_left
    {
        float: left;
        margin-top: 140px;
        width: 43px;
        height: 43px;
        background-image: url('../img/1024/home_left.png');
        margin-left: 0px;


    }

    #slideimage 
    {
        margin: 0 auto;
        width: 730px !important;
        float: left;
        margin-top: 12px;
        height: 300px;
        margin-left: 34px;
        overflow: hidden;


    }

    /*#slideimage img
    {
        height: 300px;
        
    }*/


    #slideshow_right
    {
        float: right;
        margin-top: 140px;
        width: 43px;
        height: 43px;
        background-image: url('../img/1024/home_rigth.png');
        margin-left: 27px;


    }

    #slideshowImgStyle{
        width: 730px;
        height: 327px;
        margin: 27px auto;
    }

    ul#slideshowImgStyle,
    ul#slideshowImgStyle li {
        /* Setting a common base */
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }

    ul#slideshowImgStyle li {
        display: inline-block;
        width: 212px !important;
        min-height: 302px !important;
        height: 302px !important;
    }


    /*#slideshow li
    {
        display: inline;
        list-style: none;
        margin-left: 30px;
        width: 212px !important;
        height: 302px !important;
    }*/

    #slideshow_left>img{
        width: 40px;
        height: 40px;
    }

    #slideshow_right>img{
        width: 40px;
        height: 40px;
    }


/*carrusel*/
#carruselImg1
{
    width: 212px !important;
    height: 302px !important;
    background-image: url('../img/1024/imagehitchcock.jpg');

}

#carruselImg2
{
    width: 212px !important;
    height: 302px !important;
    background-image: url('../img/1024/imagelincoln.jpg');

}

#carruselImg3 
{
    width: 212px !important;
    height: 302px !important;
    background-image: url('../img/1024/imagepolaski.jpg');

}
 
 #carruselImg4 
{
    width: 212px !important;
    height: 302px !important;
    background-image: url('../img/1024/image4.png');

}

    /* Bioexcerpt */
    #bioexcerpt
    {
        width: 913px;
        height: 269px;
        background-color: #919191;
        margin: 0 auto;
        margin-top: 26px;
        font-family: brixslab-light;

        background-image: url('../img/1024/bioexcerpt.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;

    }


    #bioexcerpt_img 
    {
        float: left;
        width: 117px;
        height: 162px;
        margin-top: 35px;
        margin-left: 34px;
        background-image: url('../img/1024/biophoto.png');

    }

    #bioexcerpt_img > img
    {
        height:164px;
        width:122px; 
        margin-left: 49px; margin-top: 49px;   
    }

    #biotextauthor
    {
        margin-top: 27px; margin-left: 10px;
        float: left;
        width: 290px;
    }

    .biotextauthor_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 20pt;
        font-family: brixslab-light;

    }

    .biotextauthor_info
    {
        color: black;
        font-size: 11pt;
        width: 381px;
    }

    .biotextauthor_readmore
    {
        color: #660066; 
    }



    #biopost
    {
        margin-right: 30px; 
        height: 181px; 
        width: 261px; 
        margin-top: 27px; 
        margin-left: 14px;
        float: right;
    }

    .biopost_title 
    {
        color : #520152;
        font-size: 18pt;
    }

    .biopost_text a
    {
        color : #520152;
        font-size: 11pt;
        line-height: 20pt;

    }


    #trade 
    {
        float: left;
    }

    #quote
    {

        float: left;
    }


    

    #biotext
    {
        width: 600px;
        float: left;
        clear: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        font-family: brixslab-regular;
        padding-left: 52px;
        text-align: justify;
    }

    #biotext > span 
    {
        color: white;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 14pt;

    }

    #photo img
    {
        
        margin-top: 48px;
        width: 234px;
    }


    #awards 
    {
        margin-top: 46px;
        padding-left: 632px; 
        padding-right: 30px;
        
    }

    #awards > span
    {
        color: white;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-family: brixslab-regular;
        font-size: 14pt;

    }
    
    #awards > p
    {
        font-family: brixslab-regular;
        font-size: 10.15pt;
        line-height:12pt;
    }

    .awards-caps {
        text-transform:uppercase;
    }


    #quotewidget
    {

        background-image: url('../img/1024/awards.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;
        font-family:  brixslab-regular;
        width: 913px;
        height: 147px;
        background-color:#202020;
        margin: 0 auto;
        margin-top: 26px;
    }

    #author_quote
    {

        float: left;
        width: 170px;
        margin-left: 100px; margin-top: 56px;
    }

    #autorsName{
        color : #999999;
        font-family: brixslab-regular;
        font-size: 14px;
        line-height: 1.428571429;

    }
    #subtitleName{
        color:#cc99ff;
        font-family: brixslab-regular;
        font-size: 14px;
        line-height: 1.428571429;
        margin-top: -22px;

    }
    #quote
    {
         margin-top: 43px; 
         margin-left: 35px;
         font-size: 15pt;
         font-family:  brixslab-light;
          width: 500px;

    }

    /* Documentary */

    #documentary
    {
        width: 913px;
        height: 478px;
        background: #979797;        
        margin: 26px auto 0 auto;

        background-image: url('../img/1024/documentaryfeatures.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #documentary_container
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-regular;
    }

    #documentary_container hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .documentary_title
    {
        font-size: 16pt;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        text-align: center;
        word-spacing: .2em;

    }

    .documentary_quote
    {
        font-size: 13pt;
        color: white;
        font-weight: lighter;
    }

    .documentary_text
    {
        font-size: 10pt;
        text-align: justify;
        color: black;

    }


    #documentary_paginator > ul
    {   
        
        text-align: center;
    }   

    #documentary_paginator > ul > li
    {

        display: inline-block;
        list-style-type:none;

    }




    .paginator
    {
        font-family: registersans;
        font-size: 8pt;
        font-weight: bold;
        display: block;
        color: black;

    }


    .paginator:hover
    {
        font-family: registersans;
        font-weight: bold;
        display: block;
        width: 15px;
        height: 14px;
        background: #3e3e3e;
        font-family: registersans;
        font-size: 8pt;
        color: white;
        text-align: center;

    }
    
    #documentary_paginator > div:hover
    {
        display: inline;
        list-style: none;
        width: 15px;
        height: 14px;
        background: black;
        color: white;
    }

    

    /*End Documentary */


    /* Books */

    #books
    {
        width: 980px;
        height: auto;
        margin: 26px auto 29px auto;
        padding-bottom: 29px;
        padding-top: 29px;
    }

    #books_title > span

    {
        font-family: registersans;
        font-size: 15pt;
        background: url('../img/1024/books.png');
        background-repeat: no-repeat;
        background-position: center;
        padding-top:7px;
        padding-bottom: 10px;
        width: 143;
        height: 45;
        color: white;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    



    #books_container
    {
        text-align: center;   
    }

    #books_container  li 
    {
        display: inline-block;

    }

    #books_container  ul
    {
        margin-bottom: 30px;
        padding-left: 0px;
    }


    .movie {
        position: relative;
        display: inline-block;
    }

    .span_hover {
        color: white;
        bottom: 7px;
        display: none;
        height: 97%;
        left: 5px;
        position: absolute;
        font-family: brixslab-regular;
        font-size: 12pt;
        padding-top: 70px;
        right: -9px;
        width: 97%;
        background-color: rgba(0,0,0,0.6);
        
    }

    .movie:hover img {
        opacity:0.8;
        
    }

    .movie:hover .span_hover {
        display: block;
    }

    /* ENd Books */

    

    /* Misc */

    #misc
    {
        background: url('../img/1024/misc/background.png');
        background-repeat: no-repeat;
        width: 915px;
        height: 612px;
        margin: 0 auto;
    }

    .misc_documentaries
    {
        font-family: brixslab-regular;
        float: left;
        width: 65%;
        padding-left: 37px;
        padding-top: 40px;
    }

    .misc_documentaries > span
    {
        color: #fff;
        font-size: 18pt;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);

    }

    .misc_documentaries p
    {
        line-height:12pt;
        color: #000;
    }


    .misc_documentaries_right_top
    {
        font-family: brixslab-regular;
        float: right;
        width: 35%;
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 30px;
    }

    .misc_documentaries_right_top > span
    {
        color: #fff;
        font-size: 14pt;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    }

    .misc_documentaries_right_top p
    {
        line-height:12pt;
        color: #000;
    }


    .misc_documentaries_right_bottom
    {
        font-family: brixslab-regular;
        float: right;
        width: 35%;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 30px;
    }

    .misc_documentaries_right_bottom > span
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 14pt;
    }
    
    .misc_documentaries_right_bottom_span
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75) !important;
        color: white !important;
        font-size: 14pt !important;
    }

    .misc_documentaries_right_bottom p
    {
        line-height:12pt;
        color: #000;
    }



    /* End Misc */


    /* Behind */

    #behind 
    {
        background: url('../img/1024/behind/background.png');
        background-repeat: no-repeat;
        width: 915px;
        height: 541px; 
        margin: 0 auto;
        margin-top: 30px;
    }

    #behind hr
    {
        border-top: 1px solid #3e3e3e;
        width: 80%;
        padding-left: 30px;
        padding-right: 40px;

    }


    .behindthescenes 
    {
         font-family: brixslab-regular;
         padding-top: 30px;
    }


    .behindthescenes_title 
    {
        font-size: 21pt;
        color: white;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);

    }

    .behindthescenes_text
    {
        text-align: justify;
        font-weight: bold;
        font-size: 10pt;
        padding-left: 150px;
        padding-right: 150px;



    }

    .behind_text
    {
        width: 100%;
        text-align: left;
        font-weight: bold;
        font-family: brixslab-regular;
    }

    .behind_text_left
    {
        float: left;
        width: 50%;
        padding-left: 200px;
        
    }


    .behind_text_right
    {
        width: 50;
        padding-left: 100px;
        float: left;

    }

    .behind_year
    {
        text-align: center; 
        color:white;
        font-family: brixslab-regular;
        font-size: 16pt;

    }

    /* End Behind */



    

    /* Feature */
    #feature
    {
        width: 913px;
        height: 635px;
        margin: 0 auto;
        margin-bottom: 39px;
    }

    .feature_images
    {
        float: left;

    }

    #feature_image1
    {
    width: 227px !important;
    height: 328px !important;
    background-image: url('../img/1024/featured/featured_2.png');

    }
        

    #feature_image2
    {
    width: 257px !important;
    height: 328px !important;
    background-image: url('../img/1024/featured/featured_1.png');
    margin: 0px 0px 0px 13px;   
    }

    .featured_list
    {
        float: left;
    }

    .featured_list > ul
     {
        padding-left: 0px;
     }

    .featured_list>ul> li
    {
        display: inline-block;
    }

    .feature_images_title
    {

        background: url('../img/1024/featured/featured.png') ;  
        background-repeat: no-repeat;
        text-align: center;
        font-family: registersans;
        font-weight: bold;
        font-size: 14pt;
        text-transform: uppercase;
        width: 329px;
        height: 36px;
        padding-top: 4px;
        color: white; 
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #feature_content{
        width: 200px;
    }
    .featured_press
    {
        background: url('../img/1024/featured/featured_background.png') #f0f0f0 ;
        background-repeat: no-repeat;
        float: right;
        width: 335px;
        height: 615px;
        font-family: brixslab-light;
        color: #f0f0f0;
        padding-top: 33px; 
        padding-left: 39px; 
        padding-right: 23px;
    }

    .featured_press_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 22pt;
        font-family: brixslab-light;

    }

    .featured_press_highlight
    {
        color: #520152;
        font-size: 12pt;
        font-weight: bold;
    }


    /*End Feature */



    /* Footer */

    #footer
    {
        bottom: 0;
       margin-top: 100px; 
       clear: both;
       background: #F0F0F0;
       height: 37px;
       width: 100%;
       font-family: registersans;
        position: fixed;

        
    }

    #trade
    {
        text-align: left;
        color: #7a716f;
        padding-top: 10px; 
        padding-left: 21px;
    }

    #footermessage
    {
        float: right;
        padding-top: 10px; 
        text-align: right;
        margin-right: 10px;
        color: #7a716f;
    }


/* ABOUT */
    #aboutContent
    {
        width: 914px;
        height: 798px;
        background-color: #919191;
        margin: 0 auto;
        margin-top: 26px;
        font-family: brixslab-light;

        background-image: url('../img/1024/fondo_about.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;

    }

    #about_img 
    {
        float: left;
        width: 234px;
        height: 322px;
        margin-top: 35px;
        margin-left: 50px;
        background-image: url('../img/1024/biophotoBig.png');

    }

    #aboutAuthor
    {
        margin-top: 25px;
        margin-left: 52px;
        float: left;
        width: 528px;
    }

    .about_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 20pt;
        font-family: brixslab-light;

    }

    .about_info
    {
        margin-top: 18px; 
        float: left;
        width: 491px;
        font-size: 10pt;
        color: black;

    }

    #aboutAwards
    {
        margin-top: -348px;
        margin-left: 623px;
        float: left;
        width: 280px;
    }

   .about_infoAwards
    {
        color: black;
        font-size: 10pt;
        width: 229px;
        line-height:0.99;

    }

    .about_titleAwards
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 17pt;
        font-family: brixslab-light;

    }

    #aboutAuthorSmall
    {
        display: none;
    }

    .about_infoSmallRight
    {
        display: none;

    }

    .about_infoSmallDown
    {
        display: none;

    }

/* end ABOUT */

 /* Pagina Documentaries  */

    #documentaries
    {
        width: 1263px;
        height: 579px;
        background: #979797;        
        margin: 37px auto 0 auto;

        background-image: url('../img/1024/documentaryfeatures.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #documentaries_content
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-regular;
    }

    #documentaries_content hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .documentaries_title
    {
       
     
        text-align: center;
        word-spacing: .2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 31pt;
        font-family: brixslab-light;
        padding: 2px;
        

    }

    .documentaries_quote
    {
        font-size: 18pt;
        color: white;
        font-weight: lighter;
        padding:11px;
        
        
    }
    
    .text_small
    {
         font-size: 18pt;
         color: white;
         font-weight: lighter;
        
    }
    
    #line
    {
        width: 1102px !important;
        height: 2px !important;
        margin: -2px 1px 0px -40px;
        background-image: url('../img/1600/post/line.png');
    }
    


    .documentaries_text
    {
        font-size: 14pt;
        text-align: justify;
        color: black;
        
        

    }


    #documentaries_paginator > ul
    {   
        
        text-align: center;
    }   

    #documentaries_paginator > ul > li
    {

        display: inline-block;
        list-style-type:none;

    }


 #documentaries_paginator a
    {   
        color: #666666;
        font-size: 12pt;
        text-decoration: none;
        font-weight: bold;

    }

    #documentaries_paginator a:hover
    {
        font-family: brixslab-media;
        display: block;
        width: 22px;
        height: 22px;
        background: #3e3e3e;
        font-size: 12pt;
        color: white;
        text-align: center;

    }

    .paginator
    {
        font-family: registersans;
        font-size: 12pt;
        font-weight: bold;
        display: block;
        color: #4A4A4A;
        
        
    

    }
    
    .paginator_active
    {   
        font-family: registersans;
        font-size: 12pt;
        font-weight: bold;
        display: block;
        color: white;
        width: 22px;
        height: 22px;
        background-image: url('../img/1600/post/selection.png');
    }


    .paginator:hover
    {
        font-family: registersans;
        font-weight: bold;
        display: block;
        width: 22px;
        height: 22px;
        background: #3e3e3e;
        font-family: registersans;
        font-size: 12pt;
        color: white;
        text-align: center;

    }
    
    #documentaries_paginator > div:hover
    {
        display: inline;
        list-style: none;
        width: 15px;
        height: 14px;
        background: black;
        color: white;
    }

    .hr
    {
        background-image: url('../img/1600/post/line.png'); 
    }   

    /*End Pag Documentaries */

/*Inicio Pag night at the movies */


    #nightAthTheMovies
    {
        width: 914px;
        height: 541px;
        background: #979797;        
        margin: 37px auto 0 auto;

        background-image: url('../img/1024/night/background.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #nightAthTheMovies_content
    {
         width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-light;
        line-height: 1.3;
    }

    #nightAthTheMovies_content hr
    {
        margin-left: -70px;
       width:100%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .nightAthTheMovies_title
    {
       
     
        text-align: center;
        word-spacing: .2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 21pt;
        font-family: brixslab-light;
        

    }

    #authorQuote{
        font-size: 13pt;
    }

    .nightAthTheMovies_quote
    {
        font-size: 14pt;
        color: white;
        font-weight: lighter;
        text-align: center;
        margin-left: -40px;
        width: 743px;
        
    }
    
    .nightAthTheMovies_text_small
    {
         font-size: 9pt;
         color: white;
         font-weight: lighter;
        
    }
    
    #nightAthTheMovies_line
    {
       width: 793px !important;
        height: 2px !important;
        margin: -2px 1px 0px -79px;
        background-image: url('../img/1024/night/line.png');
        }
    
    


    .nightAthTheMovies_text
    {
        font-size: 11pt;
        text-align: justify;
        color: black;
}
        

    }


    #nightAthTheMovies_paginator > ul
    {   
        
        text-align: center;
    }   

    #nightAthTheMovies_paginator > ul > li
    {

        display: inline-block;
        list-style-type:none;

    }


    #nightAthTheMovies_paginator a
    {   
        color: #666666;
        font-size: 9pt;
        text-decoration: none;
        font-weight: bold;

    }

    #nightAthTheMovies_paginator a:hover
    {
        font-family: brixslab-media;
        display: block;
        width: 15px;
        height: 15px;
        background: #3e3e3e;
        font-size: 9pt;
        color: white;
        text-align: center;

    }



    .nightAthTheMovies_paginator
    {
        font-family: brixslab-media;
        font-size: 9pt;
        font-weight: bold;
        display: block;
        color: #4A4A4A;
        
        
    

    }
    
    .nightAthTheMovies_paginator_active
    {   
        font-family: brixslab-media;
        font-size: 9pt;
        font-weight: bold;
        display: block;
        color: white;
        width: 15px;
        height: 15px;
        background-image: url('../img/1024/night/selection.png');
    }


    .nightAthTheMovies_paginator:hover
    {
        font-family: brixslab-media;
        font-weight: bold;
        display: block;
        width: 15px;
        height: 15px;
        background: #3e3e3e;
        font-size: 9pt;
        color: white;
        text-align: center;

    }
    
    #nightAthTheMovies_paginator > div:hover
    {
        display: inline;
        list-style: none;
        width: 15px;
        height: 14px;
        background: black;
        color: white;
    }

    .nightAthTheMovies_hr
    {
        background-image: url('../img/1024/night/line.png'); 
    }   

  #nightAthTheMovies_image1
    {
    width: 196px !important;
    height: 305px !important;
    background-image: url('../img/1024/night/image2.png');

    }
        

    #nightAthTheMovies_image2
    {
    width: 196px !important;
    height: 305px !important;
    background-image: url('../img/1024/night/image1.png');
    margin: 0px 0px 0px 13px;   
    }

 #nightAthTheMovies_image3
    {
    width: 196px !important;
    height: 305px !important;
    background-image: url('../img/1024/night/image3.png');
    margin: 0px 0px 0px 13px;   
    }

    .nightAthTheMovies_list
    {
        position: relative;
        left: 50%;
        height: 400px;
        margin-top: 25px;
        width: 622px;
        margin-left: -300px;
  }

    .nightAthTheMovies_list > ul
     {
        padding-left: 0px;
        width: 622px;
     }

    .nightAthTheMovies_list>ul> li
    {
        display: inline-block;
    }


/*Fin  night at the movies */

/*Inicio behind*/
/*Inicio Pag night at the movies */


    #behindTheScenes
    {
        width: 914px;
        height: 541px;
        background: #979797;        
        margin: 37px auto 0 auto;

        background-image: url('../img/1024/night/background.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin: content-box;
        background-size:100% 100%;

    }

    #behindTheScenes_content
    {
        width: 100%;
        height: 100%;
        padding-left: 135px; 
        padding-right: 135px;
        padding-top: 24px;
        font-family: brixslab-light;
    }

    #behindTheScenes_content hr
    {
       margin-left: -70px;
       width:120%;
       border: 0.5px solid rgba(0,0,0,0.25);
       
    }

    .behindTheScenes_title
    {
       
     
        text-align: center;
        word-spacing: .2em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 21pt;
        font-family: brixslab-light;
        

    }

    #behindTheScenes_authorQuote{
        font-size: 17pt;
    }

    .behindTheScenes_quote
    {
        font-size: 16pt;
        color: white;
        font-weight: lighter;
        padding:11px;
        width: 673px;
        text-align: center;        
        
        
    }
    
    .behindTheScenes_text_small
    {
         font-size: 18pt;
         color: white;
         font-weight: lighter;
        
    }
    
    #behindTheScenes_line
    {
        width: 793px !important;
        height: 2px !important;
        margin: -2px 1px 0px -79px;
        background-image: url('../img/1024/night/line.png');
    }
    


    .behindTheScenes_text
    {
        font-size: 11pt;
        text-align: justify;
        color: black;
        
        

    }
    #behindTheScenes_leftList{
        width: 250px;
        float: left;
        margin-left: 60px;

    }
    #behindTheScenes_rightList{
        width: 250px;
        float: left;
        margin-left: 84px;

        
    }


#behindTheScenes_slideshow
    {
        width: 913px;
        height: 327px;
        margin: 27px auto;
    }

    #behindTheScenes_slideshow_left
    {
        float: left;
        margin-top: 140px;
        width: 43px;
        height: 43px;
        background-image: url('../img/1024/home_left.png');
        margin-left: 0px;


    }

    #behindTheScenes_slideimage 
    {
        margin: 0 auto;
        width: 730px !important;
        float: left;
        margin-top: 12px;
        height: 300px;
        margin-left: 34px;
        overflow: hidden;


    }


    #behindTheScenes_slideshow_right
    {
        float: right;
        margin-top: 140px;
        width: 43px;
        height: 43px;
        background-image: url('../img/1024/home_rigth.png');
        margin-left: 27px;


    }

    #behindTheScenes_slideshowImgStyle{
        width: 730px;
        height: 327px;
        margin: 27px auto;
    }

    ul#behindTheScenes_slideshowImgStyle,
    ul#behindTheScenes_slideshowImgStyle li {
        /* Setting a common base */
        margin: 0;
        padding: 0;
        margin-left: 20px;
        width: 2426px;
        height: 302px;
    }

    ul#behindTheScenes_slideshowImgStyle li {
        display: inline-block;
        width: 673px !important;
        min-height: 302px !important;
        height: 302px !important;
    }


    #behindTheScenes_slideshow_left>img{
        width: 40px;
        height: 40px;
    }

    #behindTheScenes_slideshow_right>img{
        width: 40px;
        height: 40px;
    }


/*carrusel*/
#behindTheScenes_carruselImg1
{
    width: 673px !important;
    height: 302px !important;
    background-image: url('../img/1024/behind/image1.png');
    background-repeat: no-repeat;

}

#behindTheScenes_carruselImg2
{
    width: 673px !important;
    height: 302px !important;
    background-image: url('../img/1024/behind/image2.png');
    background-repeat: no-repeat;

}


#behindTheScenes_leftList_480{
    display: none;
}

/*Fin behind*/

         /* Books */
    #books
    {
      
       margin-top: 30px !important;
       height: auto;
       margin-top: 0px; 
       margin-bottom: -140px !important;

    }
    
    .books_480_container
    {
        display: none;
    }

    .books_768_container
    {
        display: none;
    }

    .books_1600_container
    {
        display: none;
    }

    .books_1024_container
    {
        margin-top: 0px;
        width: 100%;
    }

    .books_1024_container>ul
    {
        padding-left: 0px;
        text-align: center;
    }

    .books_1024_container>ul>li
    {
        display: inline-block;
        list-style: none;
    }    

    .title_books > span
    {
        background: url("../img/768/books/title.png") no-repeat scroll center center rgba(0, 0, 0, 0);
        color: #FFFFFF;
        display: block;
        font-size: 15pt;
        font-family: registersans;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: center; 
    }

    .movie {
        position: relative;
        display: inline-block;
    }

    .span_hover {
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 7px;
        color: #FFFFFF;
        display: none;
        font-family: brixslab-light;
        font-size: 12pt;
        height: 99%;
        left: 2px;
        position: absolute;
        right: -9px;
        top: 1px;
        width: 97%;
        text-align: center;
        padding-top: 13px;
    }

    .movie:hover img {
        opacity:0.8;
        
    }

    .movie:hover .span_hover {
        display: block;
        font-family: brixslab-light;
    }

/* End books */

/* documentaries other and compact */
    #documentariesOtherCompact_content
    {
        width: 914px;
        height: 798px;
        background-color: #919191;
        margin: 0 auto;
        margin-top: 26px;
        font-family: brixslab-light;

        background-image: url('../img/1024/fondo_about.png');
        background-repeat: repeat-x;
        background-position: center;
        background-origin:content-box;
        background-size:100% 100%;

    }

    

    #documentariesOtherCompact_documentaries
    {
        margin-top: 25px;
        margin-left: 52px;
        float: left;
        width: 528px;
    }

    .documentariesOtherCompact_documentaries_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 20pt;
        font-family: brixslab-light;

    }

    .documentariesOtherCompact_documentaries_info
    {
        margin-top: 18px; 
        float: left;
        width: 491px;
        font-size: 10pt;
        color: black;

    }

    #documentariesOtherCompact_compact
    {
        margin-top: -506px;
        margin-left: 623px;
        float: left;
        width: 280px;
    }

   .documentariesOtherCompact_compact
    {
        color: black;
        font-size: 10pt;
        width: 229px;
        line-height:1.99;

    }

    .documentariesOtherCompact_compact_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 17pt;
        font-family: brixslab-light;

    }



  #documentariesOtherCompact_other
    {
        margin-top: -142px;
        margin-left: 623px;
        float: left;
        width: 280px;
    }

   .documentariesOtherCompact_other
    {
        color: black;
        font-size: 10pt;
        width: 229px;
        line-height:1.99;

    }

    .documentariesOtherCompact_other_title
    {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        color: white;
        font-size: 17pt;
        font-family: brixslab-light;

    }


   .documentariesOtherCompact_imgs_content
    {
        float: left;

    }

        .documentariesOtherCompact_imgs_content > ul
     {
        padding-left: 0px;
     }

    .documentariesOtherCompact_imgs_content>ul> li
    {
        display: inline-block;
    }
    
    #documentariesOtherCompact_img1
    {
    width: 134px !important;
    height: 46px !important;
    background-image: url('../img/1024/misc/logo_1.png');

    }
        

    #documentariesOtherCompact_img2
    {
    width: 134px !important;
    height: 46px !important;
    background-image: url('../img/1024/misc/logo_2.png');
    margin: 0px 0px 0px 13px;   
    }

    #documentariesOtherCompact_img3
    {
    width: 134px !important;
    height: 46px !important;
    background-image: url('../img/1024/misc/logo_3.png');

    }
        

    #documentariesOtherCompact_img4
    {
    width: 134px !important;
    height: 46px !important;
    background-image: url('../img/1024/misc/logo_4.png');
    margin: 0px 0px 0px 13px;   
    }

/* end documentaries other and compact */

    /*Contact*/


    #contact
    {
        width: 100%;
    }


    .contact
    {
        background:  #EFEFEF;
        width: 914px;
        height: 167px;
        margin: 0 auto;
        margin-top: 30px;
        padding-top: 20px;
        text-align: left;
    }

    .contact>ul
    {
        height: 169px;
        padding-left: 0px;
        margin-left:128px;
    }

    .contact>ul>li
    {
        list-style: none;
        display: inline-block;
        height: 129px;

    }

    .contact_1024_margin_1
    {
        border-left: 1px solid;
        padding-left: 10px !important;
    }


    .contact_1024_margin_2
    {
        border-left: 1px solid;
        padding-left: 10px ;
        margin-left: 70px;

    }

    .contact_1024_margin_3
    {
        
        padding-left: 10px !important;
    }



    .contact_border
    {
        
    }

    .contact_title
    {
        font-family: registersans;
        text-transform: uppercase;
        color:  #999999;
    }

    .contact_person
    {
        font-family: brixslab-light;
        color: #660066;
    }

    .contact_back
    {
        font-family: brixslab-light;
    }


    /*End Contact */

}
/* end 1024 */

